<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
	<ui:composition>

		<ul id="slide-out"
			class="side-nav fixed leftside-navigation ps-container ps-active-y"
			style="width: 240px;">
			<li class="user-details cyan darken-2">
				<div class="row">
					<div class="col col s4 m4 l4">
						<img
							src="./Helpers _ Materialize - Material Design Admin Template_files/avatar.jpg"
							alt="" class="circle responsive-img valign profile-image"/>
					</div>
					<div class="col col s8 m8 l8">

						<a
							class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn"
							href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#"
							data-activates="profile-dropdown">John Doe<i
							class="mdi-navigation-arrow-drop-down right"></i></a>
						<ul id="profile-dropdown" class="dropdown-content">
							<li><a
								href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#"><i
									class="mdi-action-face-unlock"></i> Profile</a></li>
							<li><a
								href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#"><i
									class="mdi-action-settings"></i> Settings</a></li>
							<li><a
								href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#"><i
									class="mdi-communication-live-help"></i> Help</a></li>
							<li class="divider"></li>
							<li><a
								href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#"><i
									class="mdi-action-lock-outline"></i> Lock</a></li>
							<li><a
								href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#"><i
									class="mdi-hardware-keyboard-tab"></i> Logout</a></li>
						</ul>
						<p class="user-roal">Administrator</p>
					</div>
				</div>
			</li>
			<li class="bold"><a
				href="http://demo.geekslabs.com/materialize/v2.1/layout01/index.html"
				class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i>
					Dashboard</a></li>
			<li class="bold"><a
				href="http://demo.geekslabs.com/materialize/v2.1/layout01/app-email.html"
				class="waves-effect waves-cyan"><i
					class="mdi-communication-email"></i> Mailbox <span
					class="new badge">4</span></a></li>
			<li class="bold"><a
				href="http://demo.geekslabs.com/materialize/v2.1/layout01/app-calendar.html"
				class="waves-effect waves-cyan"><i
					class="mdi-editor-insert-invitation"></i> Calender</a></li>
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li class="bold"><a
						class="collapsible-header waves-effect waves-cyan"><i
							class="mdi-action-invert-colors"></i> CSS</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-typography.html">Typography</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-icons.html">Icons</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-shadow.html">Shadow</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-media.html">Media</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-sass.html">Sass</a>
								</li>
							</ul>
						</div></li>
					<li class="bold"><a
						class="collapsible-header  waves-effect waves-cyan"><i
							class="mdi-image-palette"></i> UI Elements</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-buttons.html">Buttons</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-badges.html">Badges</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-cards.html">Cards</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-collections.html">Collections</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-accordions.html">Accordian</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-tabs.html">Tabs</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-navbar.html">Navbar</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-pagination.html">Pagination</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-preloader.html">Preloader</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-modals.html">Modals</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-media.html">Media</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-toasts.html">Toasts</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-tooltip.html">Tooltip</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/ui-waves.html">Waves</a>
								</li>
							</ul>
						</div></li>
					<li class="bold"><a
						href="http://demo.geekslabs.com/materialize/v2.1/layout01/app-widget.html"
						class="waves-effect waves-cyan"><i
							class="mdi-device-now-widgets"></i> Widgets <span
							class="new badge"></span></a></li>
					<li class="bold"><a
						class="collapsible-header  waves-effect waves-cyan"><i
							class="mdi-editor-border-all"></i> Tables</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/table-basic.html">Basic
										Tables</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/table-data.html">Data
										Tables</a></li>
							</ul>
						</div></li>
					<li class="bold"><a
						class="collapsible-header  waves-effect waves-cyan"><i
							class="mdi-editor-insert-comment"></i> Forms</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/form-elements.html">Form
										Elements</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/form-layouts.html">Form
										Layouts</a></li>
							</ul>
						</div></li>
					<li class="bold"><a
						class="collapsible-header  waves-effect waves-cyan"><i
							class="mdi-social-pages"></i> Pages</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/page-contact.html">Contact
										Page</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/page-todo.html">ToDos</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/page-blog-1.html">Blog
										Type 1</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/page-blog-2.html">Blog
										Type 2</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/page-404.html">404</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/page-500.html">500</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/page-blank.html">Blank</a>
								</li>
							</ul>
						</div></li>
					<li class="bold"><a
						class="collapsible-header  waves-effect waves-cyan"><i
							class="mdi-action-shopping-cart"></i> eCommers</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/eCommerce-products-page.html">Products
										Page</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/eCommerce-pricing.html">Pricing
										Table</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/eCommerce-invoice.html">Invoice</a>
								</li>
							</ul>
						</div></li>
					<li class="bold"><a
						class="collapsible-header  waves-effect waves-cyan"><i
							class="mdi-image-image"></i> Medias</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/media-gallary-page.html">Gallery
										Page</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/media-hover-effects.html">Image
										Hover Effects</a></li>
							</ul>
						</div></li>
					<li class="bold"><a
						class="collapsible-header  waves-effect waves-cyan"><i
							class="mdi-action-account-circle"></i> User</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/user-profile-page.html">User
										Profile</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/user-login.html">Login</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/user-register.html">Register</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/user-forgot-password.html">Forgot
										Password</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/user-lock-screen.html">Lock
										Screen</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/user-session-timeout.html">Session
										Timeout</a></li>
							</ul>
						</div></li>

					<li class="bold"><a
						class="collapsible-header waves-effect waves-cyan"><i
							class="mdi-editor-insert-chart"></i> Charts</a>
						<div class="collapsible-body" style="">
							<ul>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/charts-chartjs.html">Chart
										JS</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/charts-chartist.html">Chartist</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/charts-morris.html">Morris
										Charts</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/charts-xcharts.html">xCharts</a>
								</li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/charts-flotcharts.html">Flot
										Charts</a></li>
								<li><a
									href="http://demo.geekslabs.com/materialize/v2.1/layout01/charts-sparklines.html">Sparkline
										Charts</a></li>
							</ul>
						</div></li>
				</ul>
			</li>
			<li class="li-hover"><div class="divider"></div></li>
			<li class="li-hover"><p class="ultra-small margin more-text">MORE</p></li>
			<li><a
				href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-grid.html"><i
					class="mdi-image-grid-on"></i> Grid</a></li>
			<li><a
				href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-color.html"><i
					class="mdi-editor-format-color-fill"></i> Color</a></li>
			<li class="active"><a
				href="./Helpers _ Materialize - Material Design Admin Template_files/Helpers _ Materialize - Material Design Admin Template.html"><i
					class="mdi-communication-live-help"></i> Helpers</a></li>
			<li><a
				href="http://demo.geekslabs.com/materialize/v2.1/layout01/changelogs.html"><i
					class="mdi-action-swap-vert-circle"></i> Changelogs</a></li>
			<li class="li-hover"><div class="divider"></div></li>
			<li class="li-hover"><p class="ultra-small margin more-text">Daily
					Sales</p></li>
			<li class="li-hover">
				<div class="row">
					<div class="col s12 m12 l12">
						<div class="sample-chart-wrapper">
							<div class="ct-chart ct-golden-section" id="ct2-chart">
								<svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct"
									width="100%" height="100%" class="ct-chart-line"
									style="width: 100%; height: 100%;">
								<g class="ct-labels">
								<foreignobject style="overflow: visible;" x="45" y="104"
									width="21" height="30">
								<span class="ct-label ct-horizontal"
									xmlns="http://www.w3.org/1999/xhtml">1</span></foreignobject>
								<foreignobject style="overflow: visible;" x="66" y="104"
									width="21" height="30">
								<span class="ct-label ct-horizontal"
									xmlns="http://www.w3.org/1999/xhtml">2</span></foreignobject>
								<foreignobject style="overflow: visible;" x="87" y="104"
									width="21" height="30">
								<span class="ct-label ct-horizontal"
									xmlns="http://www.w3.org/1999/xhtml">3</span></foreignobject>
								<foreignobject style="overflow: visible;" x="108" y="104"
									width="21" height="30">
								<span class="ct-label ct-horizontal"
									xmlns="http://www.w3.org/1999/xhtml">4</span></foreignobject>
								<foreignobject style="overflow: visible;" x="129" y="104"
									width="21" height="30">
								<span class="ct-label ct-horizontal"
									xmlns="http://www.w3.org/1999/xhtml">5</span></foreignobject>
								<foreignobject style="overflow: visible;" x="150" y="104"
									width="21" height="30">
								<span class="ct-label ct-horizontal"
									xmlns="http://www.w3.org/1999/xhtml">6</span></foreignobject>
								<foreignobject style="overflow: visible;" x="171" y="104"
									width="21" height="30">
								<span class="ct-label ct-horizontal"
									xmlns="http://www.w3.org/1999/xhtml">7</span></foreignobject>
								<foreignobject style="overflow: visible;" x="192" y="104"
									width="21" height="30">
								<span class="ct-label ct-horizontal"
									xmlns="http://www.w3.org/1999/xhtml">8</span></foreignobject>
								<foreignobject style="overflow: visible;" y="84" x="-5"
									height="20.88888888888889" width="40">
								<span class="ct-label ct-vertical"
									xmlns="http://www.w3.org/1999/xhtml">0</span></foreignobject>
								<foreignobject style="overflow: visible;" y="66.9090909090909"
									x="-5" height="20.88888888888889" width="40">
								<span class="ct-label ct-vertical"
									xmlns="http://www.w3.org/1999/xhtml">2</span></foreignobject>
								<foreignobject style="overflow: visible;" y="49.81818181818181"
									x="-5" height="20.88888888888889" width="40">
								<span class="ct-label ct-vertical"
									xmlns="http://www.w3.org/1999/xhtml">4</span></foreignobject>
								<foreignobject style="overflow: visible;" y="32.72727272727273"
									x="-5" height="20.88888888888889" width="40">
								<span class="ct-label ct-vertical"
									xmlns="http://www.w3.org/1999/xhtml">6</span></foreignobject>
								<foreignobject style="overflow: visible;" y="15.63636363636364"
									x="-5" height="20.88888888888889" width="40">
								<span class="ct-label ct-vertical"
									xmlns="http://www.w3.org/1999/xhtml">8</span></foreignobject></g>
								<g class="ct-grids">
								<line x1="45" x2="45" y1="5" y2="99"
									class="ct-grid ct-horizontal"></line>
								<line x1="66" x2="66" y1="5" y2="99"
									class="ct-grid ct-horizontal"></line>
								<line x1="87" x2="87" y1="5" y2="99"
									class="ct-grid ct-horizontal"></line>
								<line x1="108" x2="108" y1="5" y2="99"
									class="ct-grid ct-horizontal"></line>
								<line x1="129" x2="129" y1="5" y2="99"
									class="ct-grid ct-horizontal"></line>
								<line x1="150" x2="150" y1="5" y2="99"
									class="ct-grid ct-horizontal"></line>
								<line x1="171" x2="171" y1="5" y2="99"
									class="ct-grid ct-horizontal"></line>
								<line x1="192" x2="192" y1="5" y2="99"
									class="ct-grid ct-horizontal"></line>
								<line y1="99" y2="99" x1="45" x2="213"
									class="ct-grid ct-vertical"></line>
								<line y1="81.9090909090909" y2="81.9090909090909" x1="45"
									x2="213" class="ct-grid ct-vertical"></line>
								<line y1="64.81818181818181" y2="64.81818181818181" x1="45"
									x2="213" class="ct-grid ct-vertical"></line>
								<line y1="47.72727272727273" y2="47.72727272727273" x1="45"
									x2="213" class="ct-grid ct-vertical"></line>
								<line y1="30.63636363636364" y2="30.63636363636364" x1="45"
									x2="213" class="ct-grid ct-vertical"></line></g>
								<g class="ct-series ct-series-a">
								<path
									d="M45,99L45,56.273C48.5,50.576,59,24.939,66,22.091C73,19.242,80,37.758,87,39.182C94,40.606,101,27.788,108,30.636C115,33.485,122,49.152,129,56.273C136,63.394,143,73.364,150,73.364C157,73.364,164,57.697,171,56.273C178,54.848,188.5,63.394,192,64.818L192,99"
									class="ct-area" ct:values="5,9,7,8,5,3,5,4"></path>
								<path
									d="M45,56.273C48.5,50.576,59,24.939,66,22.091C73,19.242,80,37.758,87,39.182C94,40.606,101,27.788,108,30.636C115,33.485,122,49.152,129,56.273C136,63.394,143,73.364,150,73.364C157,73.364,164,57.697,171,56.273C178,54.848,188.5,63.394,192,64.818"
									class="ct-line" ct:values="5,9,7,8,5,3,5,4"></path>
								<line x1="45" y1="56.27272727272727" x2="45.01"
									y2="56.27272727272727" class="ct-point" ct:value="5"></line>
								<line x1="66" y1="22.090909090909093" x2="66.01"
									y2="22.090909090909093" class="ct-point" ct:value="9"></line>
								<line x1="87" y1="39.18181818181818" x2="87.01"
									y2="39.18181818181818" class="ct-point" ct:value="7"></line>
								<line x1="108" y1="30.63636363636364" x2="108.01"
									y2="30.63636363636364" class="ct-point" ct:value="8"></line>
								<line x1="129" y1="56.27272727272727" x2="129.01"
									y2="56.27272727272727" class="ct-point" ct:value="5"></line>
								<line x1="150" y1="73.36363636363636" x2="150.01"
									y2="73.36363636363636" class="ct-point" ct:value="3"></line>
								<line x1="171" y1="56.27272727272727" x2="171.01"
									y2="56.27272727272727" class="ct-point" ct:value="5"></line>
								<line x1="192" y1="64.81818181818181" x2="192.01"
									y2="64.81818181818181" class="ct-point" ct:value="4"></line></g></svg>
							</div>
						</div>
					</div>
				</div>
			</li>
			<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
				<div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
			</div>
			<div class="ps-scrollbar-y-rail"
				style="top: 0px; height: 904px; right: 3px;">
				<div class="ps-scrollbar-y" style="top: 0px; height: 699px;"></div>
			</div>
		</ul>
		<a
			href="http://demo.geekslabs.com/materialize/v2.1/layout01/css-helpers.html#"
			data-activates="slide-out"
			class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i
			class="mdi-navigation-menu"></i></a>


	</ui:composition>
</body>
</html>